<h1>Welcome to the Department Store </h1>
<% @departments.each do |dep|%>
    <div class="department">
        <h2><%= link_to dep.name, department_path(dep) %></h2>
        <%= link_to 'Edit Department', edit_department_path(dep) %>
        <%= link_to 'Remove Department', department_path(dep), method: :delete %>
    </div>
<%end%>
<%= link_to 'Add a department', new_department_path, id: "add" %>